; This file is part of the BenGorCookies library.
;
; (c) Beñat Espiña <benatespina@gmail.com>
; (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
;
; For the full copyright and license information, please view the LICENSE
; file that was distributed with this source code.

root = true

[*]
end_of_line = LF

[*.{js, scss, css}]
indent_style = space
indent_size = 2

[{bower.json, package.json}]
indent_style = space
indent_size = 2
