// This file is part of the BenGorCookies library.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import 'bengor-cookies-variables';

.bengor-cookies {
  background: $bengor-cookies-background-color;
  bottom: 0;
  color: $bengor-cookies-color;
  display: none;
  font-size: 16px;
  left: 0;
  line-height: 22px;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.bengor-cookies--visible {
  display: block;
}

.bengor-cookies__content-wrapper {
  background: none;
  border: 0;
  margin: auto;
  max-width: $bengor-cookies-content-max-width;
}

.bengor-cookies__actions,
.bengor-cookies__content {
  clear: both;
  color: $bengor-cookies-color;
  display: block;
  text-align: center;
  width: 100%;
}

.bengor-cookies__text {
  line-height: 22px;
  margin: 0;
  text-align: center;
}

.bengor-cookies__link {
  color: $bengor-cookies-link-color;
  text-decoration: underline;

  &:hover {
    color: $bengor-cookies-link-hover-color;
  }
}

.bengor-cookies__button {
  background-color: $bengor-cookies-button-background-color;
  color: $bengor-cookies-button-color;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $bengor-cookies-button-hover-background-color;
    color: $bengor-cookies-button-color;
  }
}

@media only screen and (min-width: 641px) {
  .bengor-cookies__actions,
  .bengor-cookies__content {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
  }

  .bengor-cookies__content {
    width: 75%;
  }

  .bengor-cookies__actions {
    width: 25%;
  }

  .bengor-cookies__button {
    margin: 0 15px;
  }
}
